body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: auto;
}

h1{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
h2{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;}

h3{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.bar{
    position: relative;
    /* background-color: rgb(0, 0, 0);  */
    width: 100%;
    height: 55px;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.9); 
}
.bar:hover{
    /* border-bottom: 3px solid white ; */
} 

.main-logo{
    position:relative ;
    right:0px; 
    width: 250px;
    height: 135px;
    z-index: 5;
    bottom: 43px;
    
}
.bar-attributes{
    position:absolute;
    font-family: sans-serif;
    color:#ffffff;
    /* color:#1973b1; */
    height: auto;
    width: 700px;
    top: 18px;
    z-index: 5;
    left: 700px;
    font-size: 17px;

    /* border: 1px solid black ;   */ */
}
.bar-attributes a {
    text-decoration: none;
    /* color:#1973b1; */
    color:#ffffff;
}
.bar-attributes a:hover{
    /* text-decoration: underline; */
}


.home{

}

.form{
    position: relative;
    left: 80px;
}

.event{
    position: relative;
    left: 160px;  
}

.home:hover, .form:hover, .event:hover, .features:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    color:#000000;
    background-color: white;
    border-radius: 2px;
}


.dropdown {
    display: inline-block;
    position: relative;
    left: 260px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#000000;
    color:;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content{
  z-index: 0;
}

/* Remove the z-index and relative positioning from .mainimg if it's not required */
.img1 {
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height: 700px;
    width: 1200px;
}
.img2{
    position: relative;
    top: 100px;
    z-index: 2;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
p,ul{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
}

/* .para1{
    position: relative;
    z-index: 1;
    top: 50px;
    left: 50px;
    width: 700px;
} */


.sme{
    position: relative;
    z-index: 2;
   font-size: 150px;
    right: 20px;
    bottom: 600px;
    color: white;
    font-family: sans-serif;
}

/* .cta-button {
    background: #1973b1;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
} */


/* Vision and Approach Sections */
.first{
    text-align: center;
}

.first, .second {
    padding: 2rem 1rem;
}

.first h1, .second h2{
    font-size: 2rem;
    
}
.second h2{
    width: max-content;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.first p{
    font-size: 1.2rem;
    margin-bottom: 3rem;

}
.second {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.highlight ,ul li {
    margin-bottom: 1rem;
}

ul li{
    margin-bottom: 3rem;
}

.img3{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 30px;
    height: 400
;
}

.img4{
    position: relative;
    /* bottom: 80px; */
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    /* opacity: 90%; */
}

/* Overview Section Styling */
.overview, .highlight{
    padding: 2rem 1rem;
    
    /* background-color: #f1f1f1; */
    /* background: #f5f5dc;    */
    
    /* text-align: center; */
    /* #e6f0f9 */
    position: relative;
    z-index: 1;
    height: 180px;
    color: #000000;
    margin-bottom: 3rem;
}

/* .overview h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.overview-item {
    margin-bottom: 1.5rem;
}

.overview-item h3 a {
    color: #1973b1;
    text-decoration: none;
}

.overview-item h3 a:hover {
    text-decoration: underline;
} */

/* Contact Section Styling */
.contact {
    padding: 2rem 1rem;
    text-align: center;
    z-index: 2;
    position:absolute;
    top: 2930px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.2);
    opacity: 100%;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    
    
}
.contact h2{
    position: relative;
    bottom: 500px;
    color: rgb(255, 255, 255);
   
}
.image-text{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.2); */
    bottom:500px;
}

.img4:hover, .contact:hover {
    /* opacity: 100%; */
}

/* Footer Styling */
footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    height: auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1;
    top:50px;
}

.footer-content {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: auto;
}

.footer-content ul {
    font-family: Arial, sans-serif;
    list-style: none;
    padding: 0;
}

.footer-content ul li {
    display: inline;
    margin: 0 0.5rem;
}

.footer-content ul :hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    color:#000000;
    background-color: white;
    border-radius: 2px;
}

.footer-content ul li a {
    text-decoration: none;
    color:white;
}
footer p{
    font-size: 15px;
    color:white;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    float: right;
    right: 80px;
    top: 40px;
    position: relative;
    font-family: Arial, sans-serif;
    height: 400px;
}

.calculator h1 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.calculator label {
    display: block;
    margin-bottom: 5px;
}

.calculator input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.calculator button:hover {
    background-color: #0056b3;
}


.box{
        /* border: 2px solid grey;  */
       position: relative;
        width: 65%;
        float: left;
        left: 20px;
    
}
#third-section{
    position: relative;
    /* bottom: 350px;   */
    height: auto;
}
#last{
    position:relative;
    
}
#solar-section{
    position: relative;
    top:20px;
}
.divide{
    background: #f5f5dc;
    height: 30em;
    margin-bottom: 4em;
}